@import "./fonts/Roobert.css";

body {
    margin: 0;
    overflow: hidden;
}

* {
    font-family: 'Roobert', Tahoma, Geneva, Verdana, sans-serif !important; 
}

#ui {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.game-ui {
    position: absolute;
    left: 0;
    top: 0;
}